

    <div class="container">
        <div class="row">
          <!-- Primera columna -->
          <div class="col-md-8">
            <div class="container-btn">
              <button mat-flat-button class="register-btn" (click)="register()">Registrar Vehiculo</button>
              <button mat-flat-button routerLink="/list-vehicles">Listado vehiculos registrados</button>
            </div>
            
          </div>
      

          <!-- Tercera columna con diseño en columna -->
          <div class="col-md-4 plazas-container">
            <div class="box">Plazas Ocupadas: {{this.ocupados}}</div>
            <div class="box">Plazas Disponibles: {{this.disponibles}}</div>
          </div>
        </div>
      </div>
      

