.plazas-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.box {
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 32px; 
  width: 100%; 
}

.container-btn {
  display: flex; 
  flex-direction: column;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100%;
}
.btn {
  margin-bottom: 15px;
}

.custom-btn {
  background-color: orange !important; /* Color personalizado */
  color: white !important; /* Color del texto */
}

.mat-mdc-unelevated-button {
  font-size: 25px;
  padding: 36px;
}
