<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="container-btn">
        <button mat-flat-button class="btn" (click)="register()" [disabled]="bandReporte">
          Registrar Vehiculo
        </button>
        <button mat-flat-button class="btn" routerLink="/list-vehicles">
          Listado vehiculos registrados
        </button>
        <button mat-flat-button class="btn custom-btn" (click)="reporte()">
          Cierre parqueadero
        </button>
      </div>
    </div>

    <div class="col-md-4 plazas-container">
      <div class="box">Plazas Ocupadas: {{ this.ocupados }}</div>
      <div class="box">Plazas Disponibles: {{ this.disponibles }}</div>
      <div class="box" *ngIf="bandReporte">Total Ganancias: {{ this.totalAmount | number:'1.2-2'}} </div>
    </div>
  </div>
</div>
