<app-header></app-header>
<div class="content">
    <div class="container">
        <div class="row">
          <!-- Primera columna -->
          <div class="col-md-8">
            <div class="container-btn">
              <button mat-flat-button class="register-btn">Registrar Vehiculo</button>
              <button mat-flat-button >Listado vehiculos registrados</button>
            </div>
            
          </div>
      

          <!-- Tercera columna con diseño en columna -->
          <div class="col-md-4 plazas-container">
            <div class="box">Plazas Ocupadas:</div>
            <div class="box">Plazas Disponibles:</div>
          </div>
        </div>
      </div>
      
</div>
