.app-header {
    background-color: #3f51b5;
    color: white;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px; /* Altura fija del header */
  }
  
  .content {
    margin-top: 60px; /* Mismo valor que la altura del header */
    padding: 16px; /* Espaciado adicional para el contenido */
  }

  .plazas-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en el eje X */
    justify-content: center; /* Centra en el eje Y si es necesario */
    height: 100vh; /* Ocupar toda la altura de la pantalla */
  }
  
  .box {
    padding: 20px;
    text-align: left;
    font-weight: bold; /* Negrita */
    font-size: 32px; /* Texto más grande */
    width: 100%; /* Ancho completo dentro de la columna */
  }
  
.container-btn{
  display: flex; /* Activa Flexbox */
  flex-direction: column;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100%;
}
  .register-btn{

    margin-bottom: 15px;
  }


  .mat-mdc-unelevated-button:not(:disabled) {
    color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
    background-color: var(--mdc-filled-button-container-color, var(--mat-sys-primary));
    font-size: 25px;
    padding: 36px;
}