.custom-modal-container .mat-dialog-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no aumente el tamaño */
    overflow: hidden; /* Evita el scroll horizontal */
  }
  .modal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    padding: 10px;
  }
  
  .full-width {
    width: 100%;
  }
  