<div class="container-all">
  <div class="center">
    <h1>Registrar nuevo vehiculo</h1>
  </div>
  <div class="container-form">
    <form [formGroup]="vehiculoForm" (ngSubmit)="onSubmit()">
      <!-- Campo Placa -->
      <mat-form-field appearance="fill">
        <mat-label>Placa</mat-label>
        <input matInput formControlName="placa" placeholder="ABC-123" />
        <mat-error *ngIf="vehiculoForm.get('placa')?.hasError('required')">
          La placa es obligatoria.
        </mat-error>
        <mat-error *ngIf="vehiculoForm.get('placa')?.hasError('pattern')">
          Formato de placa inválido (ej: ABC-123).
        </mat-error>
      </mat-form-field>

      <!-- Campo Nombre del Dueño -->
      <mat-form-field appearance="fill">
        <mat-label>Nombre del Dueño</mat-label>
        <input
          matInput
          formControlName="nombreDueño"
          placeholder="Juan Pérez"
        />
        <mat-error
          *ngIf="vehiculoForm.get('nombreDueño')?.hasError('required')"
        >
          El nombre del dueño es obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Campo Cédula -->
      <mat-form-field appearance="fill">
        <mat-label>Cédula</mat-label>
        <input matInput formControlName="cedula" placeholder="1234567890" />
        <mat-error *ngIf="vehiculoForm.get('cedula')?.hasError('required')">
          La cédula es obligatoria.
        </mat-error>
      </mat-form-field>

      <!-- Campo Correo -->
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input
          matInput
          formControlName="correo"
          placeholder="juan@example.com"
        />
        <mat-error *ngIf="vehiculoForm.get('correo')?.hasError('required')">
          El correo es obligatorio.
        </mat-error>
        <mat-error *ngIf="vehiculoForm.get('correo')?.hasError('email')">
          Formato de correo inválido.
        </mat-error>
      </mat-form-field>

      <!-- Campo Teléfono -->
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" placeholder="0987654321" />
        <mat-error *ngIf="vehiculoForm.get('telefono')?.hasError('required')">
          El teléfono es obligatorio.
        </mat-error>
        <mat-error *ngIf="vehiculoForm.get('telefono')?.hasError('pattern')">
          El teléfono debe tener 10 dígitos.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hora de Entrada</mat-label>
        <input matInput type="time" formControlName="horaEntrada" />
        <mat-error
          *ngIf="vehiculoForm.get('horaEntrada')?.hasError('required')"
        >
          La hora de entrada es obligatoria.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de Vehículo</mat-label>
        <mat-select formControlName="tipoVehiculo" >
          <mat-option *ngFor="let tipo of tiposVehiculo" [value]="tipo.id">
            {{ tipo.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="vehiculoForm.get('tipoVehiculo')?.hasError('required')"
        >
          El tipo de vehículo es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Plaza:</mat-label>
        <mat-select formControlName="plaza" [disabled]="isPlazaDisabled">
            <mat-option *ngFor="let plaza of plazas" [value]="plaza.id"
            [disabled]="plaza.occupied">
              {{ plaza.id }}  ({{ plaza.occupied ? 'Ocupado' : 'Disponible' }})
            </mat-option>
          </mat-select>
        <mat-error
          *ngIf="vehiculoForm.get('plaza')?.hasError('required')"
        >
          La plaza es obligatoria.
        </mat-error>
      </mat-form-field>




      <mat-form-field appearance="fill">
        <mat-label>Tipo de Alimentación</mat-label>
        <mat-select formControlName="tipoAlimentacion">
          <mat-option *ngFor="let tipo of tiposAlimentacion" [value]="tipo.id">
            {{ tipo.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="vehiculoForm.get('tipoAlimentacion')?.hasError('required')"
        >
          El tipo de alimentación es obligatorio.
        </mat-error>
      </mat-form-field>
      <div class="container-btn">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="vehiculoForm.invalid"
        >
          Registrar Vehículo
        </button>
      </div>
    </form>
  </div>
</div>
